<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengq.app.mapper.ParkMapper">

    <select id="selectByName" resultType="com.chengq.api.entity.Park">
        SELECT * FROM tb_park WHERE name = #{name} AND deleted = 0 LIMIT 1
    </select>
</mapper>
