<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengq.app.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.chengq.api.entity.User">
        SELECT * FROM tb_user WHERE username = #{username} AND deleted = 0 LIMIT 1
    </select>

    <select id="selectByPhone" resultType="com.chengq.api.entity.User">
        SELECT * FROM tb_user WHERE phone = #{phone} AND deleted = 0 LIMIT 1
    </select>

    <select id="countTotalUsers" resultType="int">
        SELECT COUNT(*) FROM tb_user
    </select>

    <select id="selectByUsernameLike" resultType="com.chengq.api.entity.User">
        SELECT id, username, phone, password, description FROM tb_user
        WHERE username LIKE CONCAT('%', #{username}, '%') ORDER BY id ASC
    </select>

    <select id="selectByIdRange" resultType="com.chengq.api.entity.User">
        SELECT id, username, phone, password, description FROM tb_user
        WHERE id BETWEEN #{startId} AND #{endId} ORDER BY id ASC
    </select>
</mapper>
